<div class = "container mt-4">
  <div class="row justify-content-center">
    <div class="message-container">
      <% @messages.each do |message| %>
        <div class="message-bubble">
          <p class="message-text"><%= message.content %></p>
        </div>
      <% end %>
      <%= render "messages/new" %>
    </div>
  </div>
</div>
