<div class="message-form">
  <%= simple_form_for [@match, @message],
      remote: true,
      html: {data: {match_subscription_target: "form"}, class: "d-flex"} do |f|
  %>
    <%= f.text_field :content,
    label: false,
    placeholder: "Message your match!",
    wrapper_html: {class: "message-form-box"}%>
    <%= f.submit "Send", :class => "new-message-submit"%>
  <% end %>
</div>
