.matches-index-title {
  margin: 20px;
  font-size: 30px;
}

.match-page-page {
  background-image: linear-gradient(to top, rgba(245, 92, 93, 0.4), rgba(245, 181, 92, 0.4));
  border-radius: 10px;
  margin: 0 auto;
}
