.match-bubbles {
  cursor: pointer;
  display: inline-block;
  font-size: 1.5vmax;
  border-radius: 50rem;
  padding: 1rem 2rem 1rem 65px;
  background-color: rgba(255, 0, 0, 0.4);
  color: #ffffff;
  width: 87vw;
  font-size: 18px;
}

.match-page {
  margin: 10px;
}

.match-chat {
  display: flex;
  align-self: center;
  position: relative;
  align-content: center;
  width: 85%;
}

.match-avatar{
  height: 50px;
  position:absolute;
  left: 5px;
  top: 7px;

  .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
}

.match-container{
  min-height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.match-link{
  width: 90%;
}
