.matches-index-title {
  margin: 20px;
  font-size: 30px;
}

.match-page-page:not(.match-page) {
  background-color: rgba(255, 0, 0, 0.364);
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
