.messages-main-title {
  text-align: center;
}

.message-container {
  background-color: rgba(255, 0, 0, 0.4);
  margin: 5%;
  padding: 5%;
  border-radius: 1rem;
  width: 98vw;
}

.message-bubble {
  background-color: white;
  border-radius: 50rem;
  color: rgb(245, 101, 93);
  margin: 5px;
}

.message-text {
  vertical-align: middle;
  padding: 8px;
}
