<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2>Your hobbies</h2>
        <div class="container">
          <% @hobbies.each do |hobby| %>
            <div class="hobby-card">
              <div class="card-image">
                <%= cl_image_tag hobby.photo.key %>
              </div>
              <div class="card-name">
                <%= hobby.name %>
              </div>
              <a><%= link_to 'Find hobbymate', match_user_path(current_user), class: "btn btn-add-hobby" %></a>

            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
