<h2>Swipe to find your local hobbymate</h2>

<div class="d-flex mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <div class="user-card">
          <div class="card-image">
            <%= cl_image_tag user.photo.key  %>
          </div>
          <div class="card-name">
            <%= user.name %>
          </div>
        </div>
      </div>
    </div>
  </div>
