<div id="homepage-block">
  <h1 class="homepage-title">welcome to <br><strong>hobbymate</strong></h1>
  <p class="homepage-tagline">find new hobbies and people to do them with in your area</p>
</div>

<%= form_with url: categories_path do |f| %>
  <%= f.text_field :address, placeholder: 'enter your city' %>
  <% @categories.each do |category| %>
    <%= f.check_box category.name %>

  <% end %>
  <%= f.submit 'Next' %>
<% end %>
