.btn-ghost:hover {
  opacity: 1;
}

.btn-add-hobby {
  color: linear-gradient(to right, rgba(255, 149, 0, 0.6), rgba(255, 0, 2, 0.6));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  padding: 8px 24px;
  border-radius: 5px;
  background: #ffffff;
  transition: background 0.3s ease;
}

.btn-add-hobby:hover {
  background: #ffffff;
  color: rgb(151, 151, 151);
}

.devise-button {
  border-radius: 5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(255,0,0,0.4);
  font-size: 1vmax;
  padding: 0.2rem 3rem;
  border: none;
}

.devise-button:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
