.btn-ghost:hover {
  opacity: 1;
}

.btn-add-hobby {
  border-radius: 12px;
  background: #ffffff;
  color: orange;
  transition: background 0.3s ease;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.findHobbymate {
  margin-left: 5px;
  margin-right: 5px;
}


.btn-add-hobby:hover {
  background: #ffffff;
  color: rgb(151, 151, 151);
}

.btn-match {
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  background: #08ce01;
  color: white;
  transition: background 0.3s ease;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-left: 14px;
  margin-right: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 120px;
}

.btn-match:hover {
  background: #ffffff;
  color: rgb(151, 151, 151);
}

.btn-match-pass {
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
  background: #f80707;
  color: white;
  transition: background 0.3s ease;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-left: 14px;
  margin-right: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 120px;
}

.btn-match-pass:hover {
  background: #ffffff;
  color: rgb(151, 151, 151);
}

.devise-button {
  border-radius: 5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(255,0,0,0.4);
  font-size: 1vmax;
  padding: 0.2rem 3rem;
  border: none;
}

.devise-button:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


// delete button on the user/:id/show

.btn-delete img {
  width: 26px;
  color: white;
  filter: brightness(0) invert(1);
}
