.btn-ghost:hover {
  opacity: 1;
}

.btn-add-hobby {
  border-radius: 5px;
  background: #ffffff;
  transition: background 0.3s ease;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-add-hobby:hover {
  background: #ffffff;
  color: rgb(151, 151, 151);
}
