.swipe-title{
  margin: 2px 5px  10px 5px;
  text-align: center;
  margin-bottom: 40px;
}

.swipe-text{
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}
