<div class="hobby-card">
  <div class="card-image">
    <%= cl_image_tag hobby.photo.key  %>
  </div>
  <div class="card-name">
    <%= hobby.name %>
  </div>
  <a><%= link_to 'Add hobby', user_path(current_user, hobby_id: hobby.id), class: "btn btn-add-hobby" %></a>
</div>
