<div class="container">
  <div class="cards">
    <% @categories.each do |category| %>
      <h1 class=><%= category.name %></h1>
        <div class="card-category">
          <% category.hobbies.each do |hobby| %>
            <div class="card-image">
              <img src="logo-white.png" alt="">
            </div>
            <div class="card-name">
              <%= hobby.name %>
            </div>
            <div class="card-description">
              <%= hobby.description %>
            </div>
            <a class="btn btn-add-hobby" href="#">Add hobby</a>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
